.shortcut{ display: flex;

    .shortContainer {
      flex: 6;

      .shortDivs{
         display: flex;
         padding: 20px;
         gap: 20px;
          //background-color: red;
          width: auto;
          transition: 'top 0.3s ease-in-out';
          margin-top: 15px;
          position: relative;

          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          margin: 20px;



          .close-icon{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            padding: 15px;
            font-size: 24px;
            font-weight: bold;
          }
      }
    }

}